@model IEnumerable<NT_Project.Models.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.comment_message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_id_for_comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.post_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comment_message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_id_for_comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.post_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
