@model IEnumerable<NT_Project.Models.ApplicationUser>

@{
    ViewBag.Title = "Friends";
}

<h2 style="color:#86C232">Friends</h2>

<br />
<table class="table">
    <tr style="color:#61892F">
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="color:#6B6E70">
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("UnFriend", "Unfriend", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
