@model IEnumerable<NT_Project.Models.Post>
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
<button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-top:10px;">Add Post</button>
}
<table class="table">
    @foreach (var item in Model)
    {
        <tr style="boder:1px">
            <td style="boder:1px">
                <header>
                    @Html.DisplayFor(modelItem => item.Name)

                </header>
                <p>
                    @Html.DisplayFor(modelItem => item.PostMessage)
                </p>
                <br />
                <p>
                    @Html.DisplayFor(modelItem => item.PostDate)
                </p>
                <br />
                @using (Html.BeginForm("Index", "Comments", FormMethod.Post,new { postID= item.Id }))
                        {
                            ViewBag.Data = item.Id;
                <h2>@ViewBag.Data</h2>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin-top:10px;">Show Comments</button>
                }
            </td>
        </tr>
    }

