@model IEnumerable<NT_Project.Models.ApplicationUser>

@{
    ViewBag.Title = "Search";
}

<h2 style="color:#86C232">Search</h2>
<br />
<table class="table">
    <tr style="color:#61892F">
        <th>
            @Html.DisplayName("Photo")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>
   
@foreach (var item in Model)
{
    <tr style="color:#6B6E70">
        <td>
            @if (item.Photo_Url != null)
            {
                <img src="@Url.Content(item.Photo_Url)" alt="IMAGES" height="70" width="70"/>
            }
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        @if (ViewBag.userRelation.Contains(@item.Id))
        {
            <td>
                @Html.ActionLink("UnFriend", "UnFriend", new { id = item.Id })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Add Friend", "AddFriend", new { id = item.Id })
            </td>
        }

    </tr>
}

</table>
